<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section">
      <div class="container">
        <div class="breadcrumbs">
          <a class="breadcrumbs__link" href="./">Главная</a>
          <a class="breadcrumbs__link" href="./">О компании</a>
          <span class="breadcrumbs__curr-page">Лицензии</span>
        </div>
      </div>
    </section>
    <section class="section license mb-90">
      <div class="container">
        <h1 class="title title--page mb-50 mbm-30">Лицензии</h1>
        <div class="collapse collapse--simple" data-collapse data-duration="700">
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l active"
                   data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Медэксперт на Иванникова</p>
                  <span class="collapse__trigger-text">ООО "МЦ "Медэксперт"</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Медэксперт на Космической</p>
                  <span class="collapse__trigger-text">ООО "Медицинский центр Медэксперт Л.Д."</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Лаборатория Медэксперт</p>
                  <span class="collapse__trigger-text">ООО "МедЭксперт лаб"</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Медэксперт на Московском</p>
                  <span class="collapse__trigger-text">ООО "Медицинский центр "Медэксперт"</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Медэксперт на Леонова</p>
                  <span class="collapse__trigger-text">ООО "МедЭксперт Плюс"</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Медэксперт на Интернациональной, Медэксперт на 9 Апреля</p>
                  <span class="collapse__trigger-text">ООО "Медицинский центр "Медэксперт-5"</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Медэксперт Орто</p>
                  <span class="collapse__trigger-text">ООО "Медицинский центр Медэксперт-Орто"</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Медэксперт на Победе</p>
                  <span class="collapse__trigger-text">ООО "Медицинский центр Медэксперт Д"</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Медэксперт на Пражской</p>
                  <span class="collapse__trigger-text">ООО "Медицинский центр Медэксперт-4"</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Медэксперт на Лефорта, Медэксперт на Челнокова</p>
                  <span class="collapse__trigger-text">ООО "Медицинский центр Медэксперт С"</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Медэксперт в Советске</p>
                  <span class="collapse__trigger-text">ООО "Медицинский центр Медэксперт-Восток"</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Доктор ЛОР</p>
                  <span class="collapse__trigger-text">ООО "Доктор ЛОР"</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Медицинский центр "Чивит"</p>
                  <span class="collapse__trigger-text">ООО "Медицинский центр "Чивит"</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
                <div>
                  <p class="collapse__trigger-text--bold">Клиника Здоровый Ребенок</p>
                  <span class="collapse__trigger-text">ООО "МПЦ Здоровый Ребенок"</span>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse__inner-min-padding">
                  <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                    официальном сайте
                    <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                     href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>